footer {
  color: #ffff;
  padding: 20px;
  text-align: left;
  background-color: var(--secondary-color);
  div {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  ul {
    list-style-type: none;
    li a {
      text-decoration: none;
      color: #fff;
    }
  }
  p {
    text-align: center;
    padding: 20px;
  }
}
