:root {
  --main-color: #f7f5eb;
  --main-dark: #737370;
  --main-light: #ffebb0;
  --gold: #b5af65;
  --secondary-color: #6ac4cc;
  font-size: 18px;
  font-family: "Long Cang", cursive;
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  min-height: 100vh;
}
main {
  section.top div.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      position: absolute;
      font-size: 6rem;
      font-weight: 300;
      color: var(--gold);
    }
    video {
      width: 100%;
      height: calc(100vh - 5px);
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-fit: center;
      object-fit: center;
    }
  }
  .section-2 {
    padding: 50px 20px 50px 20px;
    background-color: var(--main-color);
    h1 {
      text-align: center;
      font-size: 1rem;
    }
    h3 {
      font-size: 3rem;
      font-weight: 100;
      text-align: center;
      color: var(--gold);
    }
    .aboutcamiguin {
      padding: 20px 20px 40px 20px;
    }
    .section-3 .slideshow-container {
      width: 200vw;
      position: relative;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      .slide {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        background-color: var(--main-color);
        grid-row: 1/2;
        -webkit-animation: carousel 20s 0s infinite linear;
        animation: carousel 20s 0s infinite linear;
        img {
          max-height: 200px;
          width: 300px;
          line-height: 200px;
        }
        @-webkit-keyframes carousel {
          0% {
            right: 0;
          }
          22% {
            right: 0;
          }
          25% {
            right: 100%;
          }
          47% {
            right: 100%;
          }
          50% {
            right: 200%;
          }
          72% {
            right: 200%;
          }
          75% {
            right: 300%;
          }
          97% {
            right: 300%;
          }
          100% {
            right: 400%;
          }
        }
        @keyframes carousel {
          0% {
            right: 0;
          }
          22% {
            right: 0;
          }
          25% {
            right: 100%;
          }
          47% {
            right: 100%;
          }
          50% {
            right: 200%;
          }
          72% {
            right: 200%;
          }
          75% {
            right: 300%;
          }
          97% {
            right: 300%;
          }
          100% {
            right: 400%;
          }
        }
      }
    }
  }
}
